@model IEnumerable<DentistManager.Domain.ViewModel.ImagesViewModel>

@{
    ViewBag.Title = "patient Images";
}
<p>
    @Html.ActionLink("Create New", "PatientImagesCreate", new { patientID = ViewBag.patientID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appointmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediumImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinImageURL)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageCategoryID)
            </td>
            <td>
                <a href="@item.FullImageURL">Full Image</a>
             </td>
            <td>
                <a href="@item.MediumImageURL">Medium Image</a>
            </td>
            <td>
                <a href="@item.MinImageURL">Mini Image</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "PatientImagesEdit", new { patientImageID = ViewBag.patientImageID }) |
                @Html.ActionLink("Details", "PatientImagesDetails", new { patientImageID = ViewBag.patientImageID }) |
                @Html.ActionLink("Delete", "PatientImagesDelete", new { patientImageID = ViewBag.patientImageID })
            </td>
        </tr>
    }

</table>