@model DentistManager.Domain.ViewModel.ImageCreateViewModel
@using DentistManager.DentistUI.HtmlHelpers

@{
    ViewBag.Title = "PatientImagesCreate";
}

<h2>PatientImagesCreate</h2>

@using (Html.BeginForm("PatientImagesCreate", "PatientImages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ImagesViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ImagesViewModel.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagesViewModel.Name)
                @Html.ValidationMessageFor(model => model.ImagesViewModel.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagesViewModel.Notice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagesViewModel.Notice)
                @Html.ValidationMessageFor(model => model.ImagesViewModel.Notice)
            </div>

        </div>

        <div class="form-group">
            <p>select appointment</p> 
            @Html.generatePatientAppointmentDropDownList(Model.appointmentList)
        </div>

        <div class="form-group">
            <p>select image category</p> 
            @Html.generateImageCategoryDropDownList(Model.imageCategoryList)

        </div>

        <div class="form-group"><p>Upload Image :</p> <input type="file" name="files" id="files1" /></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="bttomLink">
    @Html.ActionLink("Back to List", "patientImagesList", new { patientID = ViewBag.patientID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
