@{
    ViewBag.Title = "TreatmentSessionMain";
}

<input type="hidden" id="AppointmentID" value="@ViewBag.AppointmentID" />
<input type="hidden" id="DoctorID" value="@ViewBag.DoctorID" />
<input type="hidden" id="PatientID" value="@ViewBag.PatientID" />
<input type="hidden" id="ActiveOperationID" value="0" />
<input type="hidden" id="appointmentDate" value="@ViewBag.appointmentDate" />


<div id="container"></div>

@{ Html.RenderAction("opperationList"); 
           @*<li><label class="Treatmentheader">Side</label><label class ="Treatmentheader">Tooth</label>  <label class="Treatmentheader">Opp</label>  <label class="Treatmentheader"> App Date</label>  <label class="Treatmentheader">Notice</label>  <label class="Treatmentheader">Work Cost</label> </li>*@

   }

<div id="TreatmentListWrap">
    <table id="TreatmentList">
        <tr>
            <td>Side</td><td>Tooth</td><td>Opp</td><td>App Date</td><td>Notice</td><td>Work Cost</td><td></td>
        </tr>
    </table>
</div>


<input type="button" id="btnSaveTreatments" value="Save Treatment List" />

@section Scripts {
    @Scripts.Render("~/Scripts/kinetic.min.js")
    @Scripts.Render("~/Scripts/DoctorDashboard/TreatmentSession.js")
}