@model DentistManager.Domain.ViewModel.PatientHistoryViewModel

@{
    ViewBag.Title = "PatientHistoryDetails";
}

<h2>PatientHistoryDetails</h2>

<div>
    <h4>PatientHistory</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HistoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
