@model DentistManager.Domain.ViewModel.PrescriptionPrintViewModel

@{
    ViewBag.Title = "PrescriptionDetails";
}


<div id="PrescPrint">
    <h1>مركز البسمة</h1>
    <h2>لطب الاسنان التجميلى</h2>
    <hr />

    <div class="presInfo">
        <p>الاسم</p> <p>    @Html.DisplayFor(model => model.patientName)</p>
    </div>
   
    <div class="presInfo">
        <p>التاريخ</p>  <p> @Html.DisplayFor(model => model.AppointmentDate)</p>
    </div>
        <ul>
            @foreach (var item in Model.Medicines)
            {
                <li> <p>   @Html.DisplayFor(modelitem => item.Name)  </p>  <p> @Html.DisplayFor(modelitem => item.ScaleType)  </p>  <p> @Html.DisplayFor(modelitem => item.Dose)  </p> <p> @Html.DisplayFor(modelitem => item.Concentration) </p></li>
            }
        </ul>
    </div>
<div class="bttomLink">
    @Html.ActionLink("Back to List", "PrescriptionList")
</div>
