@model IEnumerable<DentistManager.Domain.ViewModel.PatientMiniData>

@{
    ViewBag.Title = "PatientAdvancedSearch";
}

<h2>PatientAdvancedSearch</h2>

<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="text" name="patientID" id="patientID" placeholder="Patient ID" />
        <input type="text" name="patientName" id="patientName" placeholder="Patient Name" />
        <input type="text" name="patientPhoneNumber" id="patientPhoneNumber" placeholder="Patient Phone" />
        <input type="text" name="patientMobileNumber" id="patientMobileNumber" placeholder="Patient Mobile" />
        <input type="submit" value="Search" class="btn btn-default" />
    }
</p>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.ActionLink("Activate", "doctorPatientActvator", "PatientSearch", new { PatientID = item.PatientID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
