<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Secretary Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
    <div class="TopBar">
        <div class="container">
            <div>
                @{
                    Html.RenderAction("ActivePatientTopBarSearch", "PatientSearch");
                    Html.RenderAction("ActivePatientTopBar", "PatientSearch");
                }
            </div>

            <aside>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Patient Mangement", "patientList", "PatientManagement")</li>
                    <li>@Html.ActionLink("Patient History", "patientHistoryList", "PatientIllnessHistory")</li>
                    <li>@Html.ActionLink("Patient Images", "patientImagesList", "PatientImages")</li>
                    <li>@Html.ActionLink("Patient Payment", "Index", "PatientPayment")</li>
                    <li>@Html.ActionLink("Patient Search", "PatientAdvancedSearch", "PatientSearch")</li>
                </ul>
            </aside>

        </div>
    </div>

    <div class="MainWrap">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>