<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="siteTitle"> Doctor Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Content/styleRest.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
</head>
<body>
    <aside class="noPrint">  
        <ul class="nav">
            <li><a href="~/Appoiment/Appoiments.aspx">Appoiments</a></li>
            <li>@Html.ActionLink("Patients Status ", "PatientStatusList", "PatientStatus")</li>
            <li>@Html.ActionLink("Patients", "patientList", "PatientManagement")</li>
            <li>@Html.ActionLink("History", "patientHistoryList", "PatientIllnessHistory")</li>
            <li>@Html.ActionLink("Images", "patientImagesList", "PatientImages")</li>
            <li>@Html.ActionLink("Matrial", "customMatrialList", "CustomMatrial")</li>
            <li>@Html.ActionLink("Search", "PatientAdvancedSearch", "PatientSearch")</li>
            <li>@Html.ActionLink("Prescription", "PrescriptionList", "Prescription")</li>
            <li>@Html.ActionLink("Treatment", "TreatmentSessionMain", "TreatmentSession")</li>
            <li>@Html.ActionLink("Payment ", "Index", "PatientPayment")</li>
            <li>@Html.ActionLink("All Payment ", "DoctorClinecPaymnet", "PatientPayment")</li>
            <li>@Html.ActionLink("Receipt", "patientReceiptList", "PatientPaymentReceipt")</li>
            <li>@Html.ActionLink("Matrial Payment", "getCustomMatrailPayment", "CustomMatrial")</li>
        </ul>
    </aside>

    <div class="TopBar">
            <div>
                @{
                    Html.RenderAction("ActivePatientTopBarSearch", "PatientSearch");
                    Html.RenderAction("ActivePatientTopBar", "PatientSearch");
                }

                <a href="~/Account/Logout">log off</a>
            </div>
    </div>



    <div class="MainWrap">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>