@model IEnumerable<DentistManager.Domain.ViewModel.PaymentReceiptPresentViewModel>

@{
    ViewBag.Title = "patient Receipt List";
}

<h2>patient Receipt List</h2>

<p class="topLink">
    @Html.ActionLink("Create New", "patientReceiptCreate")
</p>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.receiptAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reciverName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.receiptAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reciverName)
                </td>
                <td>
                    @Html.ActionLink("Details", "patientReceiptDetails", new { receiptID = item.receiptID }) |
                    @Html.ActionLink("Delete", "patientReceiptDelete", new { receiptID = item.receiptID })
                </td>
            </tr>
        }
    </tbody>
</table>
