@model IEnumerable<DentistManager.Domain.ViewModel.PatientHistoryViewModel>

@{
    ViewBag.Title = "patientHistoryList";
}

<p class="topLink">
    @Html.ActionLink("Add New Patient Illness History", "PatientHistoryCreate", new { patientID = ViewBag.patientID })
</p>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripation)
            </th>
            <th></th>
        </tr>
 </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripation)
                </td>
                <td>
                    @Html.ActionLink("Edit", "PatientHistoryEdit", new { patientHistoryID = item.HistoryID }) |
                    @Html.ActionLink("Details", "PatientHistoryDetails", new { patientHistoryID = item.HistoryID }) |
                    @Html.ActionLink("Delete", "PatientHistoryDelete", new { patientHistoryID = item.HistoryID })
                </td>
            </tr>
        }
   </tbody>
</table>