@model DentistManager.Domain.ViewModel.patientListViewModelWrap
@using DentistManager.DentistUI.HtmlHelpers
@{
    ViewBag.Title = "patientList";
}
<p class="topLink">
    @Html.ActionLink("Create New Patient", "PatientCreate")
</p>

<table class="pure-table pure-table-bordered max">
    <thead>
        <tr>
            <th>
                Patient ID
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Mobile
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.patientList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.ActionLink("Details", "PatientDetails", new { patientID = item.PatientID }) |
                    @Html.ActionLink("Activate", "doctorPatientActvator", "PatientSearch", new { PatientID = item.PatientID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.generatePagingDropDownList(Model.pagingInfoHolder)